body {
  font-family: sans-serif;
  margin: 20px;
}

/* Insert newline for all labels */
label::after {
  content: "\a";
  white-space: pre;
}

div {
  padding: 5px;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 18px;
}
